@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai|Bevan|Teko:500|Lato|Galada|Oleo+Script|Oleo+Script+Swash+Caps|Open+Sans|Pacifico|Raleway|Roboto+Slab|Yellowtail';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.baloo {
  font-family: 'Baloo Bhai', cursive; }

.open-sans {
  font-family: 'Open Sans', sans-serif; }

.lato {
  font-family: 'Lato', sans-serif; }

.teko {
  font-family: 'Teko', sans-serif; }

.galada {
  font-family: 'Galada', cursive; }

.raleway {
  font-family: 'Raleway', sans-serif; }

.roboto-slab {
  font-family: 'Roboto Slab', serif; }

.pacifico {
  font-family: 'Pacifico', cursive; }

.yellowtail {
  font-family: 'Yellowtail', cursive; }

.oleo {
  font-family: 'Oleo Script', cursive; }

.oleo-swash {
  font-family: 'Oleo Script Swash Caps', cursive; }

.bevan {
  font-family: 'Bevan', cursive; }

.big-red {
  color: RGB(217, 67, 98);
  font-size: 1.3em;
  margin: 0 4px; }

/*@import "./parallax-trees";*/
html {
  color: RGB(255, 255, 222);
  font-family: 'Raleway', sans-serif; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2.1rem; }

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#nav-buffer {
  height: 70px;
  width: 100%;
  opacity: 0;
  display: none; }

#main-nav {
  height: 70px;
  background-color: lightblue;
  border-bottom: solid 2px RGB(79, 48, 67);
  color: #372d3b; }

#main-nav > ul {
  display: flex;
  font-size: 1.9em; }

#main-nav > ul > li {
  margin: 0 24px;
  cursor: pointer; }

.scroll-nav {
  position: relative;
  z-index: 11; }

.fixed-nav {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 11; }

.fixed-nav:before {
  content: '';
  height: 70px;
  /*width: 100vw;*/
  position: static; }

.login-nav {
  /*color: $lightred;*/
  position: absolute;
  font-size: .85em;
  right: 32px; }

.splash-logo {
  color: RGB(255, 255, 222);
  /*color: $lightbrown;*/
  font-size: 4em;
  position: absolute; }

.splash-bg {
  height: 500px;
  width: 500px;
  background: RGB(198, 206, 158) url("../img/rgs.png") no-repeat center;
  -webkit-background-size: 250px;
  -moz-background-size: 250px;
  -ms-background-size: 250px;
  -o-background-size: 250px;
  background-size: 250px; }

.small-logo {
  color: RGB(217, 67, 98);
  position: absolute;
  font-size: .85em;
  left: 32px; }

.small-logo > span:before {
  content: 'Real';
  font-family: 'Galada', cursive;
  position: absolute;
  top: -45%;
  left: -47%;
  border: thin solid RGB(217, 67, 98);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  /*margin-top: 4px;*/ }

.small-logo > span:after {
  content: 'Syrup';
  font-family: 'Galada', cursive;
  position: absolute;
  top: 65%;
  left: -68%; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 100px;
  /*background-color: rgba(217, 67, 98, .3);*/
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 18px 10px;
  color: #6f6f6f; }

.login form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login-btn {
  margin: 12px;
  padding: 12px;
  background-color: RGB(217, 67, 98);
  border-top: solid 2px RGB(255, 131, 166);
  border-right: solid 2px RGB(121, 38, 55);
  border-bottom: solid 2px RGB(121, 38, 55);
  border-left: solid 2px RGB(255, 131, 166);
  border-radius: 12px;
  color: white;
  cursor: pointer; }

.login input {
  margin: 10px;
  padding: 4px;
  font-size: 1.4em;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  outline-color: RGB(217, 67, 98);
  color: RGB(217, 67, 98);
  outline-width: medium;
  /*background-color: rgba(255, 255, 255, 0);*/
  /*background-color: rgba(217, 67, 98, .3);*/ }

.login-text {
  max-width: 400px;
  margin: 20px;
  text-align: center;
  font-size: 1.2rem; }

.view-content {
  position: relative;
  z-index: 7;
  padding: 70px 15%; }

#first {
  height: calc(100vh - 70px);
  position: relative;
  z-index: 7;
  background: RGB(198, 206, 158); }

#second {
  min-height: 300px;
  background-color: lightblue;
  background-repeat: repeat-y; }

#third {
  position: relative;
  min-height: 1650px;
  background-color: #372d3b;
  overflow: visible; }

#fourth {
  min-height: 300px;
  background-color: #2c2633;
  background-repeat: no-repeat; }

#footer {
  height: 140px;
  background-color: #1c1622; }

#cart {
  position: relative;
  min-height: 64vh;
  min-width: 72vw;
  background-color: RGB(198, 206, 158);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c1622;
  z-index: 5; }

.exit-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer; }

#third p, #contact p, #admin p, #login p, #about p, #patron p {
  margin: 34px;
  font-size: 1.1rem;
  line-height: 1.6em; }

#third h2, #contact h2, #admin h2, #about h2 {
  font-size: 2.7rem;
  color: RGB(217, 67, 98);
  position: relative;
  left: -36px;
  padding-bottom: 17px; }

.patron-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  padding: 30px;
  background-color: lightgreen; }

.all-products {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  margin: 0 50px; }

.one-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  width: calc(100% / 3);
  background: url("../img/rgs.png") no-repeat center;
  -webkit-background-size: 130px;
  -moz-background-size: 130px;
  -ms-background-size: 130px;
  -o-background-size: 130px;
  background-size: 130px; }

.one-product ~ .one-product {
  border-left: thin solid #372d3b; }

.product-btn {
  min-width: 100px;
  min-height: 50px;
  line-height: 1.3em;
  padding: 10px;
  background-color: RGB(217, 67, 98);
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  top: 63px;
  cursor: pointer; }
