<div id="admin" >
  <nav class="admin-nav">
    <h3 class="teko">Admin page</h3>
    <button class="logout-btn" ng-click="logout()">LOG OUT</button>
  </nav>

  <div class="admin-content">

    <span class="order-section">
      <span class="big-white">Users</span>
      <!-- <h3>Users</h3> -->
      <ul class="all-users">
        <li ng-repeat="yoozer in users | orderBy : 'id'">{{yoozer.id}}
          <section>{{yoozer.firstname}} {{yoozer.lastname}}</section>
          <section>{{yoozer.address}} {{yoozer.zip}}</section>
          <section>{{yoozer.admin}}</section>
        </li>
      </ul>
    </span>

    <span class="order-section">
      <span class="big-white">Pending orders</span>
      <ul class="unfilled-orders">
        <li ng-repeat="pending in unfilled | orderBy : 'date_priority'" ng-click="test(order)">
            <span class="order-info">
              <section>{{pending.date | date: "MMMM d, yyyy"}}</section>
              <section>{{pending.firstname}} {{pending.lastname}} <span class="user-id">id: {{pending.users_id}}</span></section>
              <section order-details class="pointer little-red">{{pending.num_items_in_order}} item(s)</section>
              <!-- <section order-details class="pointer little-red" ng-click="getOrderDetails(pending.orders_id)">{{pending.num_items_in_order}} item(s)</section> -->
              <hr>
              <section ng-repeat="detail in details">
                <section>{{detail.product_name}} x {{detail.qty}} = {{detail.product_total}}</section>
              </section>
            </span>
            <div class="order-id">order<br> # <span>{{pending.orders_id}}</span></div>
            <div class="mark-filled" ng-click="markOrderFilled(pending.orders_id)"></div>
        </li>
      </ul>
    </span>

    <span class="order-section">
      <span class="big-white">Filled orders</span>
      <ul class="filled-orders">
        <li ng-repeat="completed in filled | orderBy : 'date_priority'" ng-click="test(order)">
            <span>
              <section>{{completed.date | date: "MMMM d, yyyy"}}</section>
              <section>{{completed.firstname}} {{completed.lastname}} <span class="user-id">id: {{completed.users_id}}</span></section>
              <section order-details class="pointer little-red">{{pending.num_items_in_order}} item(s)</section>
              <hr>
              <section ng-repeat="detail in details">
                <section>{{detail.product_name}} x {{detail.qty}} = {{detail.product_total}}</section>
              </section>
            </span>
            <div class="order-id">order<br> # <span>{{completed.orders_id}}</span></div>
            <div class="mark-unfilled" ng-click="markOrderUnfilled(completed.orders_id)"></div>
        </li>
      </ul>
    </span>


  </div


</div>
