<div id="admin" >
  <nav class="admin-nav">
    <h3 class="teko">Admin page</h3>
    <button class="logout-btn" ng-click="logout()">LOGOUT</button>
  </nav>

  <div class="admin-content">

    <span class="order-section">
      <span class="big-red">Users</span>
      <!-- <h3>Users</h3> -->
      <ul class="all-users">
        <li ng-repeat="user in users | orderBy : 'id'">{{user.id}}
          <section>{{user.firstname}} {{user.lastname}}</section>
          <section>{{user.address}} {{user.zip}}</section>
          <section>{{user.admin}}</section>
        </li>
      </ul>
    </span>

    <span class="order-section">
      <span class="big-red">Orders</span>
      <!-- <h3>Users</h3> -->
      <ul class="past-orders">
        <li ng-repeat="order in orders | orderBy : 'date_priority'" ng-click="test(order)">
            <!-- <section class="order">{{order.id}}</section> -->
            <section>{{order.date_priority | date: "MMMM d, yyyy"}}</section>
            <section>{{order.firstname}} {{order.lastname}} <span class="order-id">id: {{order.id}}</span></section>
            <section>{{order.name}}</section>
            <section>{{order.num_products}} items</section>
        </li>
      </ul>
    </span>

  </div


</div>
