<div id="patron">

  <nav class="patron-nav">
    <h2 class="teko">
      {{user.firstname}}'s Info
    </h2>
    <div>Welcome, {{user.firstname}} {{user.lastname}}</div>
    <div class="logout-btn" ng-click="logout()">LOG OUT</div>
  </nav>

  <div class="user-main">

    <section class="order-section" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
      <div class="big-blue">Orders</div>
      <ol class="past-orders">
        <li ng-repeat="order in orders">
          <div class="order">
            <section>{{order.name}}</section>
            <section>{{order.product_total}}</section>
            <section>{{order.date | date: "MMMM d, yyyy"}}</section>
          </div>
        </li>
      </ol>
    </section>

    <section>
      <div class="big-blue">Account info</div>
      <div>username: {{user.firstname}} {{user.lastname}}</div>
      <div>Shipping address: {{user.address}} {{user.zip}}</div>

    </section>

  </div>





</div>
