<div id="patron">

  <nav class="patron-nav">
    <h2 class="teko">
      My info
    </h2>
    <div>Welcome, {{user.firstname}} {{user.lastname}}</div>
    <div class="logout-btn" ng-click="logout()">LOG OUT</div>
  </nav>

  <div class="user-main">

    <section class="order-section" scroll-element-not-document>
      <div class="big-white">Orders</div>
      <ol class="past-orders">
        <li ng-repeat="order in orders">
          <div class="order">
            <section>{{order.name}}</section>
            <section>{{order.product_total}}</section>
            <section>{{order.date | date: "MMMM d, yyyy"}}</section>
          </div>
        </li>
      </ol>
    </section>

    <section class="my-info-section" scroll-element-not-document>
      <div class="big-white user-info">User info <span class="edit" ng-click="updateUserInfo()">(edit)<span class="edit-gear"></span></span></div>
      <ol class="my-info">
        <li>Name:
          <section>{{user.firstname}} {{user.lastname}}</section>
        </li>
        <li>Username:
          <section>{{user.username}}</section>
        </li>
        <li>Shipping address:
          <section>{{user.address}}</section>
          <section>{{user.zip}}</section>
        </li>
      </ol>

      <div class="big-white username-and-password"><span class="edit" ng-click="updatePassword()">Edit password<span class="edit-gear"></span></span></div>
    </section>

  </div>





</div>
