<div id="process">

  <p>
    {{processArray}}
  </p>

  <h2 class="pacifico">How maple syrup is made</h2>
  <p>
    The process maple syrup goes through, from sap running out of a tree to the sweet treat you enjoy on pancakes and waffles, is a complicated one.  Here are the steps we go through on our farm to bring you the goods.
  </p>
  <p>
    <span class="big-red">Step 1.</span> The first step begins in the woods. Maple trees are tapped each year in January or February. We drill a small hole in a tree and insert a spile.  Each spile is attached to a small hose. Series of hoses run to larger and larger hoses until they reach a collection tank. On our farm our lines are attached to a vacuum system that helps us harvest more sap from each tree.
  </p>
  <p>
    <span class="big-red">Step 2.</span> Once the maple sap reaches the collection tank it is brought to the sap house and run through a reverse osmosis machine, or R.O. This process removes much of the water in the sap leaving a more concentrated sugary sap. This reduces the time that the sap needs to be boiled when making maple syrup. A shorter boiling time yields a higher quality syrup.
  </p>
  <p>
    <span class="big-red">Step 3.</span> Next the fun part begins; the concentrated sap is boiled until it becomes syrup.  On our farm we use a wood fire evaporator. It is 4 feet wide and 16 feet long. A hood above the evaporator helps channel steam out of the saphouse, and keeps drips and drabs from falling into the evaporator. As the sap is boiled and becomes syrup it flows through a series of pans on the evaporator. When the syrup reaches around 218°F, it is done. On our evaporator we have an automated valve with a thermometer that constantly measures the temperature of the syrup and draws it off each time at just the right temperature. This prevents the syrup from burning. It produces consistently high quality syrup with amazing taste and color.

  </p>
  <p>
    <span class="big-red">Step 4.</span>  After the syrup is boiled down, it is filtered through a machine called a filter press. This process removes any imperfections in the syrup and ensures that it is clean, once again improving the quality of the maple syrup.
  </p>
  <p>
    <span class="big-red">Step 5.</span> After running through the filter press the syrup is ready to be put into bottles. The syrup is placed in a canner and reheated to over 190°F. At that point it is placed into bottles and sealed, ready for you to enjoy.  It is a long and time-intensive process, but it is worth all the time and work that goes into making it.
  </p>
</div>

<div id="faq">
  <h2 class="pacifico">Frequently asked questions</h2>
  <p><span class="big-red">Q:</span> How many gallons of sap does it take to make a gallon of maple syrup?</p>
  <p><span class="big-red">A:</span> It takes around 40 gallons of sap to make one gallon of maple syrup. When the sap comes out of the tree, it contains around 2% sugar.</p>
  <p><span class="big-red">Q:</span> Can you make maple syrup from any kind maple tree?</p>
  <p><span class="big-red">A:</span> All cultivars of maple tree produce sap that has some sugar, so yes, you can make maple syrup from any maple tree. However, sugar maples and red maples have the highest sugar content in their sap, so they make the best maple syrup.</p>

</div>
