/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  ADMIN VIEW
  USER (PATRON) VIEW
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#patron, #admin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(121, 80, 80, .55 );
  color: white;
  z-index: 42;
}
#admin {
  padding: 30px;
  overflow: scroll;
}

.patron-nav, .admin-nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $user-nav-height;
  width: 100%;
  padding: 30px 100px;
  border-bottom: dotted thin white;
}
.admin-nav {
  position: absolute;
  padding: 30px 100px;
}
.admin-nav h3 {
  color: white;
  font-size: 3rem;
}
.admin-content {
  margin-top: $user-nav-height;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.logout-btn {
  max-height: 42px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  border-radius: 39px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}
#logout-nav.logout-nav, .my-info-nav {
  color: $lightbrown;
  outline: none;
  margin: 12px;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
  position: absolute;
  font-size: .85em;
  right: 32px;
  top: 24px;
  display: none;
}


.my-info-nav {
  right: 132px;
}

.user-main {
  height: $user-main-height;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.order-section, .my-info-section {
  width: 32vw;
  height: calc(100% - 70px);
  margin: 20px;
  padding: 20px;
  border: dotted thin white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  // color: white;
  div {
    margin: 10px 0;
  }
  ol {
    margin-bottom: 55px;
  }
}
.my-info-section {
  justify-content: flex-start;
  background-color: white;
  color: black;
  li {
    padding: 10px 0;
  }
}
.my-info section {
  position: relative;
  left: 30px;
  // color: white;
  padding: 10px 0;
}

.unfilled-orders, .filled-orders, .past-orders {
  list-style-type: decimal;
  li {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    section {
      color: black;
    }
    section ~ section {
      margin: 4px 0;
      font-size: .9rem;
      position: relative;
      left: 12px;
    }

    .user-id, .order-id {
      color: $maplelightblue;
      margin-left: 12px;
      // font-size: 0.85rem;
    }
    .mark-filled, .mark-unfilled {
      position: relative;
      cursor: pointer;
      border: 3px solid $maplelightblue;
      border-radius: 50%;
      height: 37px;
      width: 37px;
    }
    .mark-filled:before {
      content: '';
      position: absolute;
      left: 9px;
      bottom: 7px;
      height: 27px;
      width: 12px;
      border-right: 6px solid lightgreen;
      border-bottom: 6px solid lightgreen;
      transform: rotate(35deg);
    }
    .mark-unfilled:before {
      content: '/';
      position: absolute;
      left: 3px;
      top: -2px;
      color: $maplelightblue;
      font-size: 2.4rem;
    }
  }
}

.unfilled-orders li:nth-child(even), .filled-orders li:nth-child(even), .past-orders li:nth-child(even) {
  background-color: $maplelightblue;
  .user-id, .order-id {
    color: white;
    margin-left: 12px;
    // font-size: 0.85rem;
  }
  .mark-filled, .mark-unfilled {
    color: white;
    border: 3px solid white;
  }
  .mark-unfilled:before {
    color: white;
  }
}

.all-users {
  list-style: none;
  li {
    margin: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 2px;
  }
  li:nth-child(even) {
    background-color: $maplelightblue;
  }
}

.user-info,.user-password, .edit{
  position: relative;
  display: flex;
  margin: 0 5px;
}
.edit {
  color: $maplelightblue;
  cursor: pointer;
}
.edit-gear {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  border: 4px solid $maplelightblue;
  border-radius: 50%;
  cursor: pointer;
}
.edit-gear:after {
  content: '';
  position: relative;
  right: 18px;
  bottom: 8px;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  border: 4px dotted $maplelightblue;
  border-radius: 50%;
}
