/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Parallax trees
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.layer0 {
  z-index: 5;
}

.layer1 {
  background-image: url('../img/tree3.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 4;
}

.layer2 {
  background-image: url('../img/tree-r.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 3;
}

.layer3 {
  background-image: url('../img/tree-l.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 3;
}

.layer4 {
  background-image: url('../img/hill.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 0;
}
